<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skills</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Listen here you brazen upstart with more ambition that adult teeth,</h1>
  <h3>from the beginning of time until about <%= time %> on <%= date %>, these are the agreed upon skills needed for coding.</h3>
  <div id="main">
    <ul>
      <% skills.forEach(skill => { %>
        <li>
        <a href="/skills/<%= skill._id %>">
          <%= skill.skill %> 
          <ul>
            <li>
              <%= skill.difficulty %>
            </li> 
          </ul>
            <form 
              action="/skills/<%= skill._id %>?_method=DELETE"
              class="delete-form"
              method="POST"
              >
              <button type="submit">Nah, you don't need this.</button>
            </form>
        </a>
        </li>
      <% }) %>
    </ul>
    <a href="/skills/new">We missing any toasty skillz?</a>
  </div>
</body>
</html>